- var teal = "#3BBBB2"

section(data-background='#{teal}')
  h2 Stage:<br/><b>Evolutionary-Teal</b>
  img(src="images/noun_yoga.png")

section(data-background='#{teal}')
  h3
     b The Internet, Global Markets, Progressive Startups
  img(src="images/noun_brain-network.png")

section(data-background='#{teal}')
  p.quote "Evolutionary-Teal turns the page from the rational-reductionist worldview of Orange and the post-modern worldview of Green to a holistic approach to knowing."
  p &nbsp;
  p.quote "In Teal, life is seen as a journey of personal and collective unfolding toward our true nature."

section(data-background='#{teal}')
  p.quote "Recognition, success, wealth, and belonging are viewed as pleasurable experiences, but also as tempting traps for the ego. In contrast with previous stages, the order is reversed: we do not pursue recognition, success, wealth, and belonging to live a good life. We pursue a life well-lived, and the consequence might just be recognition, success, wealth, and love."

section(data-background='#{teal}')
  p.quote "When organizations are built not on implicit mechanisms of fear but on structures and practices that breed trust and responsibility, <b>extraordinary and unexpected things start to happen</b>."

section(data-background='#{teal}')
  h2 Evolutionary–<b>Teal</b>
  table
    tr
      td Metaphor:
      td 
        b Living System &nbsp;&nbsp;
        img(src="images/noun_tree_system.png")
    tr
      td Emergence:
      td 
         b Now
    tr
      td Breakthroughs:
      td 
         b Self-management
         br
         b Wholeness
         br
         b Evolutionary purpose
