- var red = "#FF4847"
- var amber = "#E6A010"
- var orange = "#FF8800"
- var green = "#A3CA6D"

section
  h1 Yes!

section
  p.quote "Could we invent a more powerful, more soulful, more meaningful way to work together, if only we change our belief system?"

section
  h1 Yes!

section
  img(src="images/reinventing-organizations.jpg")

section
  h3 <i>Reinventing Organizations</i> is a book inspired by the next stage of <b>human consciousness</b>
  img(src="images/noun_consciousness.png")

section
  h1 Whoa.

section
  p.quote "With every new stage in human consciousness also came a breakthrough in our ability to collaborate, bringing about a new organizational model."

section
  h3 As we become more <b>aware</b>, so do our organizations
  img(src="images/noun_steps.png")

section
  h2 This happens in <b>stages</b>, and has for millennia.

section(data-background='#{red}')
  h2 Stage:<br/><b>Impulsive–Red</b>
  img(src="images/noun_rejected.png")

section(data-background='#{red}')
  h3
    b Tribal Militias, Street Gangs, Organized Crime
  img(src="images/noun_gangster.png")

section(data-background='#{red}')
  p.quote "The world at this stage is seen as a dangerous place where one’s needs being met depends on being strong and tough. The currency of the world is power. If I’m more powerful than you, I can demand that my needs are met; if you are more powerful than me, I’ll submit in the hope you will take care of me."

section(data-background='#{red}')
  p.quote "Each member looks after his own people and keeps them in line. Overall, there is no formal hierarchy and there are no job titles."
  p &nbsp;
  p.quote "...the chief of a Red Organization must demonstrate overwhelming power and bend others to his will to stay in position. The minute his power is in doubt, someone else will attempt to topple him."

section(data-background='#{red}')
  img(src="images/noun_overthrow.png")

section(data-background='#{red}')
  h2 Impulsive–<b>Red</b>
  table
    tr
      td Metaphor:
      td 
        b Wolfpack &nbsp;&nbsp;
        img(src="images/noun_wolf.png")
    tr
      td Emergence:
      td 
         b ~10,000BC
    tr
      td Breakthroughs:
      td 
         b Divison of labor
         br
         b Command authority

section(data-background='#{amber}')
  h2 Stage:<br/><b>Conformist-Amber</b>
  img(src="images/noun_people.png")

section(data-background='#{amber}')
  h3
    b Military, Government Agencies, Religious Institutions
  img(src="images/noun_vatican.png")

section(data-background='#{amber}')
  p.quote "The advent of Amber Organizations brought about two major breakthroughs: organizations can now plan for the medium and long term, and they can create organizational structures that are stable and can scale." 

section(data-background='#{amber}')
  p.quote "With processes, critical knowledge no longer depends on a particular person; it is embedded in the organization and can be transmitted across generations. Any person can be replaced by another that takes over the same role in the process. Even the chief is replaceable, in an orderly succession, and Amber Organizations can therefore survive for centuries."

section(data-background='#{amber}')
  h2 Conformist–<b>Amber</b>
  table
    tr
      td Metaphor:
      td 
        b Army &nbsp;&nbsp;
        img(src="images/noun_soldiers.png")
    tr
      td Emergence:
      td 
         b ~4,000BC
    tr
      td Breakthroughs:
      td 
         b Formal roles
         br
         b Stable hierachies
         br
         b Repeatable processes

section(data-background='#{orange}')
  h2 Stage:<br/><b>Achievement-Orange</b>
  img(src="images/noun_chemist.png")

section(data-background='#{orange}')
  h3
    b Global Corporations, Commercial Entities
  img(src="images/noun_businessmen.png")

section(data-background='#{orange}')
  p.quote "Effectiveness replaces morals as a yardstick for decision-making: the better I understand the way the world operates, the more I can achieve; the best decision is the one that begets the highest outcome."

section(data-background='#{orange}')
  p.quote "Orange cognition has opened the floodgates of scientific investigation, innovation, and entrepreneurship. In a timeframe of just two centuries— the blink of an eye in the overall history of our species— it has brought us unprecedented levels of prosperity."

section(data-background='#{orange}')
  h3 <b>But...</b>
  p.quote "One of Orange's shadows is 'innovation gone mad' ... much of this economy based on fabricated needs is unsustainable from a financial and ecological perspective. We have reached a stage where we often pursue growth for growth’s sake, a condition that in medical terminology would simply be called cancer."

section(data-background='#{orange}')
  h2 Achievement–<b>Orange</b>
  table
    tr
      td Metaphor:
      td 
        b Machine &nbsp;&nbsp;
        img(src="images/noun_machine.png")
    tr
      td Emergence:
      td 
         b 17th Century
    tr
      td Breakthroughs:
      td 
         b Innovation
         br
         b Accountability
         br
         b Meritocracy

section(data-background='#{green}')
  h2 Stage:<br/><b>Pluralistic-Green</b>
  img(src="images/noun_generation.png")

section(data-background='#{green}')
  h3
     b Culture-Driven Companies, Volunteering, Non-Profits
  img(src="images/noun_world.png")

section(data-background='#{green}')
  p.quote "In Orange Organizations, strategy and execution are king. In Green Organizations, the company culture is paramount."
  p &nbsp;
  p.quote "While Orange is predominant today in business and politics, Green is very present in postmodern academic thinking, in nonprofits, and among social workers and community activists."

section(data-background='#{green}')
  p.quote "Pluralistic-Green is highly sensitive to people’s feelings. It insists that all perspectives deserve equal respect. It seeks fairness, equality, harmony, community, cooperation, and consensus."

section(data-background='#{green}')
  h2 Yet...
  p.quote "Bringing about consensus among large groups of people is inherently difficult. It almost invariably ends up in grueling talk sessions and eventual stalemate."

section(data-background='#{green}')
  h2 Pluralistic–<b>Green</b>
  table
    tr
      td Metaphor:
      td 
        b Family &nbsp;&nbsp;
        img(src="images/noun_family.png")
    tr
      td Emergence:
      td 
         b 19th Century
    tr
      td Breakthroughs:
      td 
         b Empowerment
         br
         b Values-driven culture
         br
         b Stakeholder model
