- var teal = "#3BBBB2"

section(data-background='#{teal}')
  h1 Teal In Practice

section(data-background='#{teal}')
  p.quote "What are the necessary conditions for creating a new organization with Evolutionary-Teal principles, structure, practices, and culture? Or to transform an existing one?"

section(data-background='#{teal}')
  h2 Self-Management
  img(src="images/noun_office-worker.png")

section(data-background='#{teal}')
  h2 I'm not a businessman.
  h2 <b>I'm a business, man.</b>

section(data-background='#{teal}')
  p.quote "Teal Organizations have found the key to operate effectively, even at a large scale, with a system based on peer relationships, without the need for either hierarchy or consensus."

section(data-background='#{teal}')
  h2 Wholeness
  img(src="images/noun_climbing.png")

section(data-background='#{teal}')
  p.quote "Organizations have always been places that encourage people to show up with a narrow 'professional' self and to check other parts of the self at the door ... Teal Organizations have developed a consistent set of practices that invite us to reclaim our inner wholeness and bring all of who we are to work."

section(data-background='#{teal}')
  h2 Evolutionary Purpose
  img(src="images/noun_rocket_space.png")

section(data-background='#{teal}')
  p.quote "Teal Organizations are seen as having a life and a sense of direction of their own. Instead of trying to predict and control the future, members of the organization are invited to listen in and understand what the organization wants to become..."

section
  p.quote<b>"Imagine what organizations would be like if we stopped designing them like soulless, clunky machines. What could organizations achieve, and what would work feel like, if we treated them like living beings, if we let them be fueled by the evolutionary power of life itself?"</b>

section
  h1 The End

section
  img(src="images/noun_stage.png")
  h1 Thank you!

section
  h1 References
  ul
    li <a href="http://www.amazon.com/gp/product/B00ICS9VI4/ref=dp-kindle-redirect?ie=UTF8&btkr=1"><i>Reinventing Organizations: A Guide to Creating Organizations Inspired by the Next Stage of Human Consciousness</i></a> <br>Laloux, Frederic (2014-02-09) 
    li
      a(href="https://www.youtube.com/watch?v=GxGGkrtKZaA") Frederic Laloux on Soulful Organisations (Youtube)
    li
      a(href="http://www.huffingtonpost.com/jeff-fermin/13-disturbing-facts-about_b_6140996.html") 13 Disturbing Facts About Employee Engagement 
